[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-products-mircroservice/client-gateway.git
[submodule "products-app"]
	path = products-app
	url = https://github.com/Nest-products-mircroservice/products-microservice.git
[submodule "orders-app"]
	path = orders-app
	url = https://github.com/Nest-products-mircroservice/orders-microservices.git
[submodule "payments-app"]
	path = payments-app
	url = https://github.com/Nest-products-mircroservice/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-products-mircroservice/auth-microservice.git
